VITE_API_BASE_URL=
VITE_ASSET_BASE=/static/
VITE_BUILD_OUT_DIR=../frontend_build
VITE_DEV_API_PROXY_TARGET=http://127.0.0.1:8000
VITE_DEV_HOST=127.0.0.1
VITE_DEV_PORT=3000
VITE_PREVIEW_HOST=127.0.0.1
VITE_PREVIEW_PORT=4173
